.boton-alumno{
    margin-left: 35em;
    padding-left: 3em;
    padding-right: 3em;
}
#hea{
    margin: 0.5em;
    background: #f8f8f8;
    padding: 1em;
}
#header{

    padding-bottom: 1em;
    border-bottom: 2px solid lightgray;
    background-image: url('../imagenes/f1.jpg');

}
#htec{
    margin-top: 0.6em;
    margin-right: 27em;
    color: white;
    text-align: end;
    float: right;
    font-family: fantasy;
    font-size: 1.65em;


}
.ima2{
    margin-top: 1em;
    margin-left: 1.5em;
}

#saet{
    float: right;
    color: white;
    font-family: fantasy;
    margin-right:22em;
    margin-top: -0.8em;
    font-size: 1.3em;
}

#footer{

    background-image: url('../imagenes/f1.jpg');
    font-size: 0.4em;
    font-family: fantasy;
    padding-bottom: -0.1em;
    padding-top: 1.3em;

}
#textfo{
    font-size:1.5em;
}
#subm{
    background:#1c617e;
}